/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{text-decoration:none}ins,mark{background-color:#ff9;color:#000}mark{font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

input {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
i{ display: inline-block; }
a{ color: #212121; }


#switch-bin{
  display: none;
}
#switch-icon i{
  cursor: pointer;
  box-sizing: border-box;
  position: fixed;
  z-index: 4;
  top: 5vw; right: 5vw;
  padding: 6px;
  font-size: 36px;
  color: #fff;
  transition: font-size .5s ease 0s;
}
#switch-icon i.fas.fa-sun{
  font-size: 0;
}
#switch-icon::before{
  content: "";
  box-sizing: border-box;
  display: block;
  position: fixed;
  z-index: 1;
  top: 5vw; right: 5vw;
  width: 48px;
  height: 48px;
  background-color: #212121;
  border-radius: 26px;
  transition: text-shadow .5s ease 0s;
}


#icon{
  position: relative;
  z-index: 3;
  box-sizing: border-box;
  display: block;
  margin: 13vh auto 50px;
  font-size: 158px;
  text-align: center;
  width: 158px;
  transition: text-shadow .5s ease 0s;
}
#search{
  position: absolute;
  z-index: 3;
  left: 0; right: 0;
}
#search input{
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: 10px 16px;
  width: 80%;
  max-width: 960px;
  font-size: 20px;
  border-radius: 26px;
  border: solid 1px #a8a8a8;
  background-color: #f6f6f6;
  transition: box-shadow .2s ease 0s;
}
#search input:hover{
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, .1);
}
#back{
  content: "";
  display: block;
  position: fixed;
  z-index: 0;
  top: 0; left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #f3f3f3;
  transition: background-color .5s ease 0s;
}


footer{
  position: absolute;
  z-index: 2;
  left: 0; right: 0; bottom: 0;
  margin: 0;
  font-size: 20px;
  padding: 6px 0;
  text-align: center;
  color: #212121;
  transition: text-shadow .5s ease 0s;
}
footer a{
  color: #212121;
  transition: text-shadow .5s ease 0s;
}


#switch-bin:checked ~ #switch-icon i.fas.fa-sun{  font-size: 36px;  }
#switch-bin:checked ~ #switch-icon i.fas.fa-moon{ font-size: 0;     }
#switch-bin:checked ~ #switch-icon::before{ background-color: #fff; }
#switch-bin:checked ~ #switch-icon i{   color: #212121;}
#switch-bin:checked ~ #back{ background-color: #212121;}
#switch-bin:checked ~ #icon{ color: #f3f3f3;}

#switch-bin:checked ~ footer a,
#switch-bin:checked ~ footer{ color: #f3f3f3;}

@media screen and ( max-width:30em) {
  /* ~480px（スマホ縦） */

}

@media screen and (min-width:30em) and ( max-width:37.5em) {
  /* 480px~600px（スマホ横） */
}

@media screen and (min-width:37.5em) and ( max-width:48em) {
  /*　600px~768px（タブレット）　*/
}

@media screen and (min-width:48em) and ( max-width:60em) {
  /*　768px~960px（タブレット）　*/

}

@media screen and (min-width:60em) and ( max-width:80em) {
  /*　960px~1280px（小型PC）　*/
  #switch-icon::before,
  #switch-icon i{
    top: 36px; right: 36px;
  }
}

@media screen and (min-width:80em) {
  /*　1280px~（大型PC） */
  #switch-icon::before,
  #switch-icon i{
    top: 36px; right: 36px;
  }
}
